/* ============================================== /*
 *                   Company
/* ============================================== */
#company { padding: 60px 0px; }
#company .company-header { text-align: center; }
#company .company-header h3 { position: relative; display: inline-block; margin-bottom: 30px; font-size: 40px; }
#company .company-header h3:after { border: 1px solid #333; bottom: -20px; content: ""; left: 0; margin: 0 auto; position: absolute; right: 0; width: 40%; }
#company .company-header img { display: block; margin: 0 auto; margin-top: 30px; }
#company .company-header p:nth-child(3) { margin-top: 25px; font-size: 16px; color: #777; }
#company .company-header p:nth-child(4) { margin-top: 30px; font-size: 20px; font-weight: bold; letter-spacing: 1px; color: #777; }
#company .company-header p:nth-child(4) b { font-size: 24px; color: #ab1f24; }

.services-details { margin-top: 50px; }
.services-details:hover h4,
.services-details:hover .services-icon { color: #619333; }

.single-services span { display: inline-block; margin-bottom: 20px; font-size: 70px; line-height: 36px; color: #444; }
.single-services h4 { font-size: 24px; font-weight: 500; color: #444; }
.single-services p { margin-top: 15px; font-size: 14px; color: #333; }

#visit { padding: 80px 0px; }

@media (max-width: 767px) {
	#company .company-header img { width: 90%; }
	#company .company-header p:nth-child(3) { font-size: 14px; }
	#company .company-header p br,
	.single-services p br { display: none; }
}