/* ============================================== /*
 *                     Main
/* ============================================== */

/* Home */
#home {	padding: 0; background: url("../images/cover.gif");	background-color: #222;	background-repeat: no-repeat; background-attachment: fixed; background-position: 50% 50%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
#home .overlay { background-color: rgba(0, 0, 0, 0.4); background-repeat: repeat; width: 100%; height: 100%; position: absolute; top: 0; left: 0; overflow: hidden; z-index: 1; }
#home .bg_video { background-color: rgba(0, 0, 0, 0.4); background-repeat: repeat; width: 100%; height: 100%; position: absolute; top: 0; left: 0; overflow: hidden; }
#home .bg_video video { position: absolute; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto; transform: translateX(-50%) translateY(-50%); }
#home .intro { position: absolute; top: 53%; left: 0; width: 100%; padding: 0 15px; text-align: center; z-index: 99; -webkit-transform: translate(0%, -50%); -moz-transform: translate(0%, -50%); -ms-transform: translate(0%, -50%); -o-transform: translate(0%, -50%); transform: translate(0%, -50%); }
#home .intro .start { font-size: 17px; font-style: normal; letter-spacing: 1px; text-transform: none; color: #fff; text-shadow: 2px 2px 2px #000; }
#home .intro .start img { width: 300px; }


/* Business */
#business { padding: 70px 0px 30px 0px; }
#business .business-header p { font-size: 17px; }
#business .business-header img { width: 100%; }

#business .business-contents .box-img { background: transparent; text-align: center; padding-bottom: 20px; min-height: 280px; position: relative; transition: ease all 0.5s; }
#business .business-contents .box-img img { padding: 10px; width: 100%; height: auto; }
#business .business-contents .box-img p { transition: all 0.4s ease 0s; font-weight: bold; letter-spacing: 0px; }
#business .business-contents .box-img p:nth-child(2) { font-family: 'Notosans-Bold'; font-size: 24px; color: #555; }
#business .business-contents .box-img p:nth-child(3) { color: #999; }
#business .business-contents .box-img:hover { cursor: pointer; transform: scale(1.1); background: #555; }
#business .business-contents .box-img:hover p { color: #fff; }


/* Portfolio */
#gallery { padding: 60px 0px; overflow: hidden; }
#gallery .owl-nav,
#gallery .owl-dots { margin-top: 25px; text-align: center; }
#gallery .owl-item { overflow: hidden; height: 175px; border-left: 2px solid #fff; border-right: 2px solid #fff; }
#gallery .owl-dot { display: inline-block; margin: 0 5px; width: 12px; height: 12px; border-radius: 50%; background-color: #ddd; }
#gallery .owl-dot.active { background-color: #f82249; }
#gallery .gallery-carousel .owl-stage-outer { overflow: visible; }
#gallery .gallery-carousel .center { border: 6px solid #13a456; margin: -10px; box-sizing: content-box; padding: 4px; background: #fff; z-index: 1; }


/* Clients Section */
#clients { padding: 60px 0; }
#clients img { max-width: 100%; transition: 0.3s; padding: 15px 0; }
#clients img:hover { transform: scale(1.2); cursor: grab; }

#clients .owl-nav,
#clients .owl-dots { margin-top: 5px; text-align: center; }
#clients .owl-dot { display: inline-block; margin: 0 5px; width: 12px; height: 12px; border-radius: 50%; background-color: #ddd; }
#clients .owl-dot.active { background-color: #71c55d; }


/* Contact Section */
#contact { padding: 60px 0; }
#contact button { background: #71c55d; border: 0; padding: 10px 30px; color: #fff; transition: 0.4s; border-radius: 5px; cursor: pointer; }
#contact button:hover { background: #13a456; }


/* Main */
@media (max-width: 767px) {
	#home .intro .start img { width: 55%; }
	#business .business-header h2 { font-size: 22px; line-height: 26px; }
	#business .business-header img { margin: 40px 0px 10px 0px; }
	#business .business-contents .box-img img:nth-child(1) { width: 65%; }
}
@media (min-width: 768px) and (max-width: 991px) {
	#business .business-header p { font-size: 15px; }
	#business .business-header h2 { font-size: 24px; }
	#business .business-contents .box-img img:nth-child(1) { width: 90%; }
	#business .business-contents .box-img p:nth-child(2) { font-size: 20px; }
}