/* ============================================== /*
 *                   Portfolio
/* ============================================== */
#portfolio { padding: 60px 0; min-height: 100%; }
#portfolio #portfolio-flters { padding: 0; margin: 5px 0 35px 0; list-style: none; text-align: center; }
#portfolio #portfolio-flters li { cursor: pointer; margin: 15px 15px 15px 0; display: inline-block; padding: 10px 20px; font-size: 16px; line-height: 20px; color: #666666; border-radius: 4px; text-transform: uppercase; background: #fff; margin-bottom: 5px; }
#portfolio #portfolio-flters li:hover { color: #71c55d; }
#portfolio #portfolio-flters li.filter-active { background: #71c55d; background: linear-gradient(135deg,#0a6792 0%,#71c55d 100%); color: #fff; }
#portfolio #portfolio-flters li:last-child { margin-right: 0; }

#portfolio .portfolio-wrap { box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08); transition: 0.3s; }
#portfolio .portfolio-wrap:hover { box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16); }

#portfolio .portfolio-item { position: relative; height: 360px; overflow: hidden; }
#portfolio .portfolio-item figure { background: #000; overflow: hidden; height: 200px; position: relative; border-radius: 4px 4px 0 0; margin: 0; }
#portfolio .portfolio-item figure img { width: 100%; }
#portfolio .portfolio-item figure:hover img { opacity: 0.4; transition: 0.3s; }
#portfolio .portfolio-item figure .link-preview,
#portfolio .portfolio-item figure .link-details { position: absolute; display: inline-block; opacity: 0; line-height: 1; text-align: center; width: 36px; height: 36px; background: #fff; border-radius: 50%; transition: 0.2s linear; }
#portfolio .portfolio-item figure .link-preview i,
#portfolio .portfolio-item figure .link-details i { padding-top: 6px; font-size: 22px; color: #333; }
#portfolio .portfolio-item figure .link-preview:hover,
#portfolio .portfolio-item figure .link-details:hover { background: #71c55d; }
#portfolio .portfolio-item figure .link-preview:hover i,
#portfolio .portfolio-item figure .link-details:hover i { color: #fff; }
#portfolio .portfolio-item figure .link-preview { left: calc(50% - 38px); top: calc(50% - 18px); }
#portfolio .portfolio-item figure .link-details { right: calc(50% - 38px); top: calc(50% - 18px); }
#portfolio .portfolio-item figure:hover .link-preview { opacity: 1; left: calc(50% - 44px); }
#portfolio .portfolio-item figure:hover .link-details { opacity: 1; right: calc(50% - 44px); }

#portfolio .portfolio-item .portfolio-info { background: #fff; text-align: center; padding: 25px; height: 90px; border-radius: 0 0 3px 3px; }
#portfolio .portfolio-item .portfolio-info h4 { margin-bottom: 2px; font-size: 18px; font-weight: 700; padding-bottom: 0; }
#portfolio .portfolio-item .portfolio-info h4 a { color: #333; }
#portfolio .portfolio-item .portfolio-info h4 a:hover { color: #71c55d; }
#portfolio .portfolio-item .portfolio-info p { padding: 0; margin: 0; color: #555; font-weight: 500; font-size: 14px; text-transform: uppercase; }

@media (max-width: 767px) {
	#portfolio #portfolio-flters li { margin: 10px 4px 10px 0; padding: 8px 14px; font-size: 14px; }
}