/* ============================================== /*
 *                   Sub-page
/* ============================================== */
.sub-position { margin-top: 550px; }
.sub-position .container { position: relative; background-color: #fff; z-index: 1; }

#sub-bg { position: absolute; top: 0; width: 100%; height: 650px; }
#sub-bg .subpage-banner { margin-top: 60px; }
#sub-bg .subpage-banner .banner-cover { background-color: rgba(0, 0, 0, 0.8); background-repeat: repeat; width: 100%; height: 650px; position: absolute; top: 60px; left: 0; }
#sub-bg .subpage-banner .banner-cover p { color: #fff; }
#sub-bg .subpage-banner .banner-cover p:nth-child(1) { margin-top: 130px; font-size: 20px; }
#sub-bg .subpage-banner .banner-cover p:nth-child(2) { margin-left: -5px; font-family: 'Notosans-Bold'; font-size: 80px; line-height: 85px; }
#sub-bg .subpage-banner .banner-cover p:nth-child(3) { margin-top: 20px; font-size: 16px; line-height: 1.8em; }
#sub-bg .subpage-banner .banner-background { margin: 0 auto; padding: 80px 0px; width: 100%; height: 650px; background-color: #222; }
#sub-bg .subpage-banner .banner-background.home { background: url("../images/homepage/bg_home.jpg"); background-repeat: no-repeat; background-position: 50% 50%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; text-align: center; }
#sub-bg .subpage-banner .banner-background.shop { background: url("../images/shoppingmall/bg_shop.jpg"); background-repeat: no-repeat; background-position: 50% 50%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; text-align: center; }
#sub-bg .subpage-banner .banner-background.mobile { background: url("../images/mobile/bg_mobile.jpg"); background-repeat: no-repeat; background-position: 50% 50%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; text-align: center; }
#sub-bg .subpage-banner .banner-background.tech { background: url("../images/tech/bg_tech.jpg"); background-repeat: no-repeat; background-position: 50% 50%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; text-align: center; }
#sub-bg .subpage-banner .banner-img { position: relative; z-index: 999; }
#sub-bg .subpage-banner .banner-img .home { position: absolute; top: -585px; right: -36px; }
#sub-bg .subpage-banner .banner-img .home img { width: 650px; }
#sub-bg .subpage-banner .banner-img .shop { position: absolute; top: -560px; right: 4px; }
#sub-bg .subpage-banner .banner-img .shop img { width: 630px; }
#sub-bg .subpage-banner .banner-img .mobile { position: absolute; top: -575px; right: -30px; }
#sub-bg .subpage-banner .banner-img .mobile img { width: 620px; }
#sub-bg .subpage-banner .banner-img .landing { position: absolute; top: -685px; right: -86px; }
#sub-bg .subpage-banner .banner-img .landing img { width: 650px; }
#sub-bg .subpage-banner .banner-img .tech { position: absolute; top: -560px; right: -41px; }
#sub-bg .subpage-banner .banner-img .tech img { width: 600px; }

@media (max-width: 550px) {
	#sub-bg .subpage-banner .banner-cover p br { display: none; }
}
@media (max-width: 767px) {
	.sub-position { margin-top: 0px; }
	#sub-bg { position: relative; height: auto; }
	#sub-bg .subpage-banner { position: relative; }	
	#sub-bg .subpage-banner .banner-cover { position: relative; top: 0 !important; height: auto; }
	#sub-bg .subpage-banner .banner-cover p:nth-child(1) { margin-top: 25px; font-size: 12px; }
	#sub-bg .subpage-banner .banner-cover p:nth-child(2) { padding-left: 3px; font-size: 38px; line-height: 56px; }
	#sub-bg .subpage-banner .banner-cover p:nth-child(3) { margin-top: 15px; padding-bottom: 32px; font-size: 12px; }

	#sub-bg .subpage-banner .banner-background { position: absolute; top: 0; padding: 150px 0px; height: auto; z-index: -1; }
}
@media (max-width: 991px) {
	#sub-bg .subpage-banner { margin-top: 50px; }
    #sub-bg .subpage-banner .banner-cover { top: 50px; }
    #sub-bg .subpage-banner .banner-cover .row { margin: 0; }    
}
@media (max-width: 1199px) {
	#sub-bg .subpage-banner .banner-img { display: none; }
}


/* Advantage */
.advantage { padding: 60px 0px; }
.advantage .col-md-3 { margin-bottom: 50px; text-align: center; }
.advantage .col-md-3 img:nth-child(1) { width: 45%; }
.advantage .col-md-3 p:nth-child(2) { margin-top: 10px; font-family: 'Notosans-Bold'; font-size: 18px; font-weight: bold; }
.advantage .col-md-3 p:nth-child(3) { margin-top: 5px; font-size: 15px; font-weight: bold; }

.advan_img { margin-top: 50px; text-align: center; }

@media (max-width: 1199px) {
	.advan_img img { width: 100%; }   
}

/* Step */
.step { padding: 60px 0px; }
.step .col-sm-2 { margin-bottom: 50px; text-align: center; }
.step .col-sm-2 img:nth-child(1) { width: 80%; border-radius: 50%; }
.step .col-sm-2 p:nth-child(2) { margin-top: 10px; font-size: 14px; font-weight: bold; }
.step .col-sm-2 p:nth-child(3) { font-size: 18px; font-weight: bold; }

@media (max-width: 1199px) {
	.step .col-sm-2 p:nth-child(3) { height: 48px; font-size: 15px; font-weight: bold; }   
}

/* Ready to */
.readyto { padding: 60px 0px; }
.readyto .col-md-4 { margin-bottom: 50px; text-align: center; }
.readyto .col-md-4 img:nth-child(1) { width: 100%; }
.readyto .col-md-4 p:nth-child(2) { margin-top: 10px; font-family: 'Notosans-Bold'; font-size: 22px; font-weight: bold; }
.readyto .col-md-4 p:nth-child(3) { margin-top: 5px; font-size: 15px; font-weight: bold; }
.readyto .col-md-3 { margin-bottom: 50px; text-align: center; }
.readyto .col-md-3 img:nth-child(1) { width: 100%; }
.readyto .col-md-3 p:nth-child(2) { margin-top: 10px; font-family: 'Notosans-Bold'; font-size: 22px; font-weight: bold; }
.readyto .col-md-3 p:nth-child(3) { margin-top: 5px; font-size: 15px; font-weight: bold; }

@media (max-width: 767px) {
	.readyto .col-md-4 img:nth-child(1) { width: 65%; }
	.readyto .col-md-3 img:nth-child(1) { width: 65%; }
}