/* ============================================== /*
 *                      Tech
/* ============================================== */

/* Mark */
.w3c-mark { margin-top: 20px; width: 100px; }
.nia-mark { margin-top: 30px; margin-right: 20px; width: 120px; border-radius: 50%; }
.access-mark { margin-top: 30px; width: 120px; border-radius: 50%; }

/* Accessibility */
.access { padding: 60px 0px; }
.access .access-title { text-align: center; }
.access .access-title p:nth-child(1) { margin-top: 30px; font-family: 'Notosans-Bold'; font-size: 26px; font-weight: bold; }
.access .access-title p:nth-child(2) { margin-bottom: 50px; font-size: 20px; }

.access .col-md-3 { margin-bottom: 30px; height: 180px; text-align: center; }
.access .col-md-3 img:nth-child(1) { width: 50%; }
.access .col-md-3 p:nth-child(2) { margin-top: 5px; font-family: 'Notosans-Bold'; font-size: 20px; font-weight: bold; }
.access .col-md-9 { margin-bottom: 30px; height: 180px; }
.access .col-md-9 b { margin-right: 5px; }
.access .col-md-9 p { font-size: 15px; line-height: 1.8em; }
.access .col-md-9 p:nth-child(1) { margin-top: 5px; margin-bottom: 3px; font-family: 'Notosans-Bold'; font-size: 22px; font-weight: bold; }

@media (max-width: 767px) {
	.access .access-title p:nth-child(1) { font-size: 22px; }
	.access .access-title p:nth-child(2) { margin-top: 5px; font-size: 18px; }
	.access .col-md-3 { height: auto; }
	.access .col-md-9 { margin-bottom: 50px; height: auto; }
	.access .col-md-9 p:nth-child(1) { margin-bottom: 15px; font-size: 18px; line-height: 26px; }
	.access .col-md-9 p:nth-child(2) { font-size: 14px; line-height: 24px; }
}

/* Respon & Adaptive */
.respon_adapt div:nth-child(1) { margin-bottom: 30px; }
.respon_adapt div:nth-child(1) img { width: 60%; }
.respon_adapt .title { margin-top: 20px; text-align: center; }
.respon_adapt .title p:nth-child(1) { font-size: 18px; font-weight: bold; }
.respon_adapt .contents p { margin-bottom: 8px; font-size: 15px; }
.respon_adapt .contents p:nth-child(1) { font-weight: bold; }

@media (max-width: 767px) {
	.respon_adapt .title p:nth-child(1) { font-size: 16px; }
	.respon_adapt .contents p { font-size: 14px; }
}